<head>
  <meta charset="UTF-8">
  <title>No Matter</title>
  <link href="outlines.css" rel="stylesheet">
  <script src="script.js"></script>
  <script src="script2.js"></script>
  <meta name="keywords" content="No matter, группа, музыкальная группа">
</head>