<div id="openModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Контактные данные</h3>
        <a href="#close" title="Close" class="close">×</a>
      </div>
      <div class="modal-body">
        <form action="#" method="get">
          <fieldset>
            <p><label for="name">Имя</label></p>
            <p><input type="text" name="name" id="name" placeholder="Ваше имя"></p>

            <p><label for="email">Электронная почта</label></p>
            <p><input type="email" name="email" id="email" placeholder="Ваша эл. почта" required></p>
            <button type="submit">Отправить</button>
            <button type="reset">Сбросить</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>